@model MyApp.Web.Portal.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Olvidé mi contraseña";
}
<section id="loginForm">
    <form action="@Url.Action()" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(excludePropertyErrors: false)
        @Html.Partial("_Errores")
        <p class="mx-n3 font-weight-bold text-center">Ingresa tu correo para restablecer tu contraseña</p>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <input type="submit" class="btn btn-primary" value="Enviar" />
    </form>
    <p class="mt-3">
        <a href="@Url.Action("Login", "Account")">Volver</a>
    </p>
</section>
